{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}


{% for p in object_list %}
   <nav class="navbar navbar-expand-lg navbar-light" style="padding-bottom: 0; background-color: rgb(56,0,60);">
      <div class="container">
      
         <a class="navbar-brand light navbar-title title-nav" href="{% url 'home' %}" style="font-size: 300%; padding-top: 0px; padding-bottom: 14px; color: white;"><b>{{ p.name | upper }}</b></a>

      </div>
   </nav>
   <br>

<div class="container">
    <div class="container">
        <h1><b>SEARCH CRITERIA</b></h1>
    </div>
    <br>
    <div class="container">
        <h4>Instructions:</h4>
        <p>
            -The field will be the range of +/- of the current player's statistics<br>
            -If a field does not matter, leave it blank
        
        </p>
    </div>
    <br>
    <div class="container">
        <form method="POST">
               {% bootstrap_form form %}
               {% csrf_token %}
               <input type="submit" value="Create Shortlist" class="btn btn-block btn-outline-secondary" style="color: black; border-color: black;">
        </form>


    </div>
    <br><br>
</div>
{% endfor %}

{% endblock %}